<!-- <div class="clearfix whiteBox mb10">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">Category</div>
    </div>
    
    <div class="col-sm-6 pr10 categoriesChk">
      <ul>
        <li> Entertainment </li>
      </ul>
    </div>
    <div class="col-sm-6 pl10 categoriesChk">
      <ul>
        <li>  Music</li>
      </ul>
    </div>
  </div>
</div> -->