<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">EDUCATION HISTORY      
        <%#if @user==current_user%>
         <a href="/profiles/add_education" class="blueBtn fr addBtn" data-remote=true> &nbsp;&nbsp; Add Courses</a>
        <%#end%>
      </div>
      <% current_user.education_histories.each do |education_history| %>
        <div class="uniOuter">
          <div class="blackHD"><%= education_history.specialization.name%>
            <img src="/assets/images/uni1.jpg" alt="" class="fr">
          </div>
          <div class="blackColor">
            <%= education_history.course.name %>
            <div class="grayColor">
              <%= education_history.start_year%>–<%= education_history.end_year %>
            </div>
          </div>
        </div>
      <% end if current_user.education_histories %>
    </div>
    <!-- Render Education Details -->
    <div class="education_history"><%#=render 'education_history'%></div>
  </div>
</div>