<!-- Showing and editing category form --> 
<div class="clearfix whiteBox mb10">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">Category
        <% if current_user==@user%>
          <a href="/profiles/edit_category" class="blueBtn fr addBtn" data-remote=true>&nbsp;&nbsp;EDIT/ADD CATEGORY</a>
        <%end%>
      </div>  
    </div>
    <% @user_categories.each_with_index do |category, index|%>
      <div class="col-sm-6 <%=index.even? ? 'pr10' : 'pl10'%> categoriesChk">
        <ul>
          <li><%=Category.where(:id =>category.to_i ).first.try(:name) %></li>
        </ul>
      </div>
    <%end%>  
  </div>
</div>
<!-- Showing and editing category form --> 