<!-- Showing skill form --> 
<div class="clearfix whiteBox">
  <div class="clearfix formOuterPost tal">
    <div class="col-sm-12 mb10">
      <div class="grayHD">SKILLS
        <%if @user==current_user%>
         <a href="/profiles/edit_skill" class="blueBtn fr addBtn" data-remote=true onclick = "$('.ajax-loading').show();"> &nbsp;&nbsp; Add/Edit Skills</a>
        <%end%>
      </div>
    </div>
    <div class="col-sm-12 skillsTag ">
    <% if @user.skill.present? %>
      <% @user.skill.name.split(",").each do |skill|%>    
        <span><%=skill%></span>
      <%end%>
      <% end %>
    </div>
  </div>
</div>
<!-- Showing skills form --> 