<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/meeting.png" alt=""></span>
        Meeting Room
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="/meeting_rooms/new" class="back"><img src="/assets/images/accept.png" alt=""> create meeting room</a><br>
            <div class="fr font14 underLine mt5">  6 meeting room</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac mb20  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Groups" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form>
        </div>
      </div>
      <div class="clearfix grpOuter">
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/m1.jpg" alt="" ></a>
          <a href="#" class="block groupName">Using Android Without
          Compromising Security</a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 50 Members</a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/m2.jpg" alt="" ></a>
          <a href="#" class="block groupName">7 Reasons to Unlock Developer
          Options on Your Android</a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 5 Members</a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/m3.jpg" alt="" ></a>
          <a href="#" class="block groupName">Choose from 1000's of Meeting Rooms Worldwide</a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 150 Members</a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/m4.jpg" alt="" ></a>
          <a href="#" class="block groupName"> Control your environment by
          booking the right space for<br>
          your next meeting or event. </a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 36 Members</a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/m5.jpg" alt="" ></a>
          <a href="#" class="block groupName">How to Check if You Have a
          Counterfeit SD Card
          </a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 35 Members</a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/m6.jpg" alt="" ></a>
          <a href="#" class="block groupName">How to Get Hearthstone Packs for Free (Or Cheap) Using
          Amazon Coins
          </a>
          <div class="virwJoinBtn">
            <a class="btmBtn fullWdth" href="#"> 95 Members</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>
