<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="blueBkg">
      <div class="innerWIdth550">
        <span><img src="/assets/images/contest.png" alt=""></span>
        Your Contest Module
        <div class="fr mt-10 ">
          <div class="fr font12">
            <a href="#" class="back"><img src="/assets/images/accept.png" alt=""> create contest</a><br>
            <div class="fr font14 underLine mt5">  6 contest</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac  mt20">
      <div class=" ">
        <div class="formOuter searchFrnd width100per">
          <form method="post" action="">
            <input placeholder="Search Groups" class="searhInput1" type="text">
            <input value="" class="searhSub" type="submit">
          </form>
        </div>
      </div>
      <div class="clearfix grpOuter">
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/fp1.jpg" alt="" ></a>
          <a href="#" class="block groupName width">Awesome Freebies and Deals</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> <span class="redColor">Expire</span></a>
            <a class="btmBtn" href="#" > 15 Polls </a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/fp2.jpg" alt="" ></a>
          <a href="#" class="block groupName width">CMKM Diamonds United<br>
          Shareholader Board</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> 05:10:00</a>
            <a class="btmBtn" href="#" > 15 Polls </a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/fp3.jpg" alt="" ></a>
          <a href="#" class="block groupName width">The GMCR Community<br>
          Coffeehouse</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> 05:10:00</a>
            <a class="btmBtn" href="#" > 3 Polls </a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/fp4.jpg" alt="" ></a>
          <a href="#" class="block groupName width">Confederacy of Black<br>
          Knights</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> 05:10:00</a>
            <a class="btmBtn" href="#" > 02 Polls </a>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20 grpImg">  <img src="/assets/images/fp5.jpg" alt="" ></a>
          <a href="#" class="block groupName width">The Hunger Game</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> 05:10:00</a>
            <a class="btmBtn" href="#" > 26 Polls </a>
          </div>
        </div>
        <div class="whiteBox borderTop  col-sm-6 pb0  fl">
          <div class="editDlt  dropdown">
            <a aria-expanded="true" href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
            <ul class="dropdown-menu">
              <li><a href="#"> Edit </a> </li>
              <li> <a href="#"> Delete</a> </li>
            </ul>
          </div>
          <a href="#" class="block mt20">  <img src="/assets/images/fp6.jpg" alt="" ></a>
          <a href="#" class="block groupName width">Forever Twilight</a>
          <div class="virwJoinBtn">
            <a class="btmBtn" href="#"> 05:10:00</a>
            <a class="btmBtn" href="#" > 0 Polls </a>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop mt20 mb20  pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr"> <a href="#" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
        </div>
        <div class="connectionOuter ">
          <div class="col-sm-6 borderRight">
            <a href="#"> <img src="/assets/images/user1.jpg" alt=""> <span>H. Peter Curran</span></a>
            <div class="dsignation">Appraiser, Art, Antiques,
              Deconstruction 
            </div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
          <div class="col-sm-6">
            <a href="#"> <img src="/assets/images/user2.jpg" alt=""> <span>Trip Spencer</span></a>
            <div class="dsignation">Director</div>
            <a href="#" class="whiteBtn"> Connect </a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(".commentShowScroll").niceScroll({cursorborder:"0", cursorwidth :"6px", cursorminheight:"50", horizrailenabled:false, cursorcolor:"#999",boxzoom:false});
</script>
