$(".notification-<%= @notification.id %>").html('<span class="rejected">Rejected</span>');
$( ".rejected" ).fadeOut();
$('.friendship-count')..html('<%= current_user.notifications.friend_requests.unread.count %>');