<%@followers.each do |follower|%>
  <%if !params[:data] || follower.follower.screen_name.downcase.include?(params[:data].downcase)%>
    <div class="clearfix whiteBox connectionRow borderTpBlue">
      <div class="clearfix  cmntRow">
        <div class="clearfix userInfo posRel">
          <div class="clearfix  "></div>
          <a href="#" class="userImg"><img src="<%= user(follower).try(:img) %>" alt=""></a>
          <a href="#" class="userNAme"> <%=user(follower).try(:screen_name)%></a> <br>
          <div class="fr grayColor tar">
            2 days ago<br>
            <a href="#" class="mt10">Connect</a> 
            <div class="mt5 mb-10">
              <a href="#" class="removeLink inline">Message </a> |  <a href="#" class="removeLink inline">  Unfollow</a>
            </div>
          </div>
          <div class="font13 mt5"><%=designations(user(follower))%></div>
          <div class="font13">Ltd Lake Hiawatha, New Jersey</div>
        </div>
      </div>
    </div>
  <%end%>  
<%end%>