<%= content_for(:title, 'Reveal Identity') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix innerWIdth550 tac ">
      <div class="whiteBox mt20 reveal padding40 tal">
        <div class="blackHD font22">Reveal Indentity (Terms & Conditions)</div>
        <div class="blackColor bold font18 mt30">For Organization</div>
        <p class="blackColor mt10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
        <p class="blackColor mt10"> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <div class="blackColor bold font18 mt30">For General User</div>
        <p class="blackColor mt10">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
            $(function () {
			$('.date').datetimepicker( {format: 'YYYY-MM-DD'});
            });
</script>