<%#= StaticPage.try(:first).try(:contactus).try(:html_safe) %>
<%= content_for(:title, ':: Contact Us ::') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
            <li><a href="/how_it_work">How It Works</a></li>
            <li class="activeMenu"><a href="/contactus">Contact Us</a></li>
            <li><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix innerWIdth innerWIdth550 tac ">
      <h1 class="bigHD">Speedy Responses</h1>
      <p class="font16">Slow is unacceptable. That's why we strive to get back to you same day.</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="whiteBox1">
            <img src="/assets/images/location.png" alt="">
            <div>TGS</div>
            Based out of Philadelphia, PA<br>
            E: <a href="mailto:contact@tgs.com">contact@tgs.com</a>			    
          </div>
        </div>
        <div class="col-sm-6">
          <div class="whiteBox1">
            <img src="/assets/images/mail.png" alt="">
            <div>Technical Support </div>
            E: <a href="mailto:support@tgs.com">support@tgs.com</a>
          </div>
        </div>
      </div>
      <h1 class="bigHD">Still have Questions?</h1>
      <p class="font16">If you need more information, would like to inquire about our Full Services or turnkey solutions, or just have some general feedback send us a message and we will get right back to you.</p>
      <div class="loginForm contactForm">
        <div class="row">
          <div class="pr10 col-sm-6">
            <input placeholder="Name" class="inputText" type="text">
          </div>
          <div class="pl10 col-sm-6">
            <input placeholder="Email" class="inputText" type="text">
          </div>
          <div class="col-sm-12">
            <input placeholder="Subject" class="inputText" type="text">
          </div>
          <div class="col-sm-12">
            <textarea class="inputText" placeholder="Message"></textarea>
          </div>
          <div class="col-sm-12">
            <input value="Submit" class="darkBlueBtn inputSubmit" type="submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
