<%#= StaticPage.try(:first).try(:contactus).try(:html_safe) %>
<%= content_for(:title, 'Contact Us') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
            <li><a href="/how_it_work">How It Works</a></li>
            <li class="activeMenu"><a href="/contactus">Contact Us</a></li>
            <li><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix innerWIdth innerWIdth550 tac ">
       <%= StaticPage.first.contactus.try(:html_safe)%>
      <div class="loginForm contactForm">
        <div class="row">
          <div class="pr10 col-sm-6">
            <input placeholder="Name" class="inputText" type="text">
          </div>
          <div class="pl10 col-sm-6">
            <input placeholder="Email" class="inputText" type="text">
          </div>
          <div class="col-sm-12">
            <input placeholder="Subject" class="inputText" type="text">
          </div>
          <div class="col-sm-12">
            <textarea class="inputText" placeholder="Message"></textarea>
          </div>
          <div class="col-sm-12">
            <input value="Submit" class="darkBlueBtn inputSubmit" type="submit">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
