<%#= StaticPage.try(:first).try(:contactus).try(:html_safe) %>
  <!--  Header Start -->
  <header class="clearfix">
    <div class="logo wow fadeIn" data-wow-delay="" data-wow-duration="1s">
      <a href="#"> <img src="assets/images/logo.png" alt=""></a>
    </div>
    <div class="topSearchRight wow fadeIn" data-wow-delay="" data-wow-duration="1s">
      <div class="catLIstLink">
        <a href="#" class="catLIst"><img src="assets/images/catDrop.png" alt=""></a>
      </div>
      <div class="formOuter">
        <form method="post" action="">
          <input type="text" placeholder="You can also search by keyword, Topic, Peoples..." class="searhInput">
          <input type="submit" value="" class="searhSub">  
        </form>
      </div>
      <a class="lightBlueBtn" href="#">Get Started</a>
    </div>
  </header>
  <!-- Header End -->
  <div class="mainCOntnt">
    <div class="leftNAv">
      <span class="categories"><img src="assets/images/tab.png" alt=""> Categories</span>
      <ul>
        <li><a href="#"><img src="assets/images/li1.png" alt="">Entertainment</a></li>
        <li><a href="#"><img src="assets/images/li2.png" alt="">Politics</a></li>
        <li><a href="#"><img src="assets/images/li3.png" alt="">Technology</a></li>
        <li><a href="#"><img src="assets/images/li4.png" alt="">Sports</a></li>
        <li><a href="#"><img src="assets/images/li5.png" alt="">Music</a></li>
        <li><a href="#"><img src="assets/images/li6.png" alt="">Religion &amp; Ideas</a></li>
        <a class="viewAll" href="#"> View All</a>
        <div class="footerLink">
          <a href="#">Terms of Use</a>
          <a href="#">Privacy Policy</a>			
        </div>
      </ul>
    </div>
    <div class="rightContent">
      <div class="overLAy"></div>
      <div class="topNAv">
        <span class="blueColor leftMenuTab"><img src="assets/images/tab.png" alt="" class=""> Categories</span>
        <div class="topRightNav">
          <span class="blueColor rightMenu"> Menu  <img src="assets/images/down.png" alt="" class=""></span>
          <ul>
            <li class="activeMenu"><a href="/aboutus">About Us</a></li>
            <li><a href="/how_it_work">How It Works</a></li>
            <li><a href="/contactus">Contact Us</a></li>
            <li><a href="help_center">Help Center</a></li>
          </ul>
        </div>
      </div>
      <div class="clearfix innerWIdth innerWIdth550 tac ">
        <h1 class="bigHD">Speedy Responses</h1>
        <p class="font16">Slow is unacceptable. That's why we strive to get back to you same day.</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="whiteBox1">
              <img src="assets/images/location.png" alt="">
              <div>TGS</div>
              Based out of Philadelphia, PA<br>
              E: <a href="mailto:contact@tgs.com">contact@tgs.com</a>			    
            </div>
          </div>
          <div class="col-sm-6">
            <div class="whiteBox1">
              <img src="assets/images/mail.png" alt="">
              <div>Technical Support </div>
              E: <a href="mailto:support@tgs.com">support@tgs.com</a>
            </div>
          </div>
        </div>
        <h1 class="bigHD">Still have Questions?</h1>
        <p class="font16">If you need more information, would like to inquire about our Full Services or turnkey solutions, or just have some general feedback send us a message and we will get right back to you.</p>
        <div class="loginForm contactForm">
          <div class="row">
            <div class="pr10 col-sm-6">
              <input placeholder="Name" class="inputText" type="text">
            </div>
            <div class="pl10 col-sm-6">
              <input placeholder="Email" class="inputText" type="text">
            </div>
            <div class="col-sm-12">
              <input placeholder="Subject" class="inputText" type="text">
            </div>
            <div class="col-sm-12">
              <textarea class="inputText" placeholder="Message"></textarea>
            </div>
            <div class="col-sm-12">
              <input value="Submit" class="darkBlueBtn inputSubmit" type="submit">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>