<%= content_for(:title, ':: TGS ::') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel" if user_signed_in?%>
  <div class="">
  	<%if user_signed_in?%>
    	<%=render 'layouts/topNav' %>
    <%else%>	
    	<%=render 'layouts/navbar_header' %>
    <%end%>
    
    <div class="clearfix  innerWIdth550 tac ">
      <div class=" whiteBox col-sm-12">
        <div class="col-sm-12">
          <h1 class="bigHD mt15">Help Center?</h1>
          <p class="font16 mt20"> If you need more information, would like to inquire about our Full Services or turnkey solutions, or just have some general feedback send us a message and we will get right back to you.</p>
          <div class=" loginForm contactForm mt20">
            <div class="clearfix row">
              <div class="pr10 col-sm-6">
                <input placeholder="Name" class="inputText" type="text">
              </div>
              <div class="pl10 col-sm-6">
                <input placeholder="Contact Number" class="inputText" type="text">
              </div>
              <div class="col-sm-12">
                <input placeholder="Email" class="inputText" type="text">
              </div>
              <div class="col-sm-12">
                <textarea class="inputText" placeholder="Message"></textarea>
              </div>
              <div class="col-sm-12">
                <input value="Send" class="darkBlueBtn inputSubmit" type="submit">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>