
	
	<div class="rightContent">
	<div class="overLAy"></div>
	<div class="topNAv">
	
	<span class="blueColor leftMenuTab"><img src="../assets/images/tab.png" alt="" class=""> Categories</span>
	
	<div class="topRightNav">
	<span class="blueColor rightMenu"> Menu  <img src="../assets/images/down.png" alt="" class=""></span>
	<ul>                                
			<li><a href="/aboutus">About Us</a></li>
			<li><a href="/how_it_work">How It Works</a></li>
			<li><a href="/contactus">Contact Us</a></li>
			<li  class="activeMenu"><a href="/help">Help Center</a></li>		
		</ul>
	</div>	
	</div>
	
	<div class="clearfix innerWIdth tac ">
		<h1 class="bigHD">How Can We Help You</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.</p>

		<div class="topSearchRight  searchForm" >
		
		<div class="formOuter ">
		<form method="post" action="">
			<input placeholder="Search" class="searhInput" type="text">
			<input value="" class="searhSub" type="submit">  
		</form>
		</div>
		
		
		<!-- Accordion begin -->
		<div class="accordion_example1">
		
			<!-- Section 1 -->
			<div class="accordion_in acc_active">
				<div class="acc_head">Lorem ipsum dolor sit</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>

			<!-- Section 2 -->
			<div class="accordion_in  ">
				<div class="acc_head">Curabitur quis tortor leo. Aliquam sit amet purus</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.dimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>

			<!-- Section 3 -->
			<div class="accordion_in">
				<div class="acc_head">Vivamus pellentesque nulla ut arcu faucibus</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscnisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.dimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>
			
			<div class="accordion_in">
				<div class="acc_head">Morbi fringilla tempor nulla in scelerisque</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscnisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.dimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>
			
			<div class="accordion_in">
				<div class="acc_head">Maecenas ultrices scelerisque metus, eget finibus</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscnisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.dimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>
			<div class="accordion_in">
				<div class="acc_head">Etiam sollicitudin cursus rutrum.</div>
				<div class="acc_content">
					Lorem ipsum dolor sit amet, consectetur adipiscnisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.dimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui.
				</div>
			</div>

		</div>
		<!-- Accordion end -->

	</div>

			
	
	
	
</div>
</div>
<script>
jQuery(document).ready(function($){
			$(".accordion_example1").smk_Accordion({closeAble: true});
});
</script>