

<div class="rightContent">
   <div class="overLAy"></div>
   <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="../assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
         <span class="blueColor rightMenu"> Menu  <img src="../assets/images/down.png" alt="" class=""></span>
         <ul>
            <li ><a href="/aboutus">About Us</a></li>
            <li class="activeMenu"><a href="/how_it_work">How It Works</a></li>
            <li ><a href="/contactus">Contact Us</a></li>
            <li><a href="/help">Help Center</a></li>
         </ul>
      </div>
   </div>
   <div class="clearfix innerWIdth tac ">
      <h1 class="bigHD">How It Works</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.. </p>
      <div class="clearfix timeLine">
         <div class="line"></div>
         <div class="clearfix timeLineOne">
            <div class="tlImage">
               <img src="../assets/images/t1.jpg">
            </div>
            <div class="timeLineINfo">
               <div class="blueColor">State your<br> opinions to get<br>counted</div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
               <span class="stepNumber">1</span>
            </div>
         </div>
         <div class="clearfix timeLineTwo">
            <div class="tlImage">
               <img src="../assets/images/t2.png">
            </div>
            <div class="timeLineINfo">
               <div class="blueColor">Tune-in to new<br>people with similar<br>opinions</div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
               <span class="stepNumber">2</span>
            </div>
         </div>
         <div class="clearfix timeLineThree">
            <div class="tlImage">
               <img src="../assets/images/t3.png">
            </div>
            <div class="timeLineINfo">
               <div class="blueColor">Jump into great<br>conversations from<br>the people you tuned</div>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
               <span class="stepNumber">3</span>
            </div>
         </div>
      </div>
   </div>
</div>

