<!-- Top Navigation-->
<%= render "layouts/header"%>
<%=render 'layouts/navbar_header'%>
<!-- BAnner Image -->
<div class="banner">
  <img src="../assets/images/banner.jpg" alt="" class="bannerImg">
  <div class="bannerText">
    <div class="bTextInnrt wow fadeIn" data-wow-delay=".500s" data-wow-duration="2s">
      The <span class="upperCase extraBold">simplest way</span> to <span class="upperCase extraBold">share</span><br>	
      what you think with people<br>
      who share the same <span class="upperCase extraBold">passions</span><br>
      <a href="#" class="darkBlueBtn">Explore Now</a>
    </div>
  </div>
</div>
<!-- BAnner Image End-->
<div class="mainContner">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="aboutUsBox wow fadeInLeft" data-wow-delay=".500ms" data-wow-duration="1s">
          <img src="../assets/images/aboutAs.jpg" alt="">
          <div class="padding30">
            <div class="blackHD">about us</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a volutpat mi. Nullam eget nibh vel nulla suscipit porttitor at in massa. Sed lorem enim, mollis sed nibh et, ultrices sollicitudin erat. Mauris semper arcu eu ex maximus malesuada. </p>
            <p>dignissim tellus ac, sollicitudin ipsum. Integer convallis urna magna, ac facilisis massa condimentum at. Cum sociis natoque penatibus et magnis dis parturient montes,</p>
            <a href="#" class="readMore">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="featureBoxOuter">
          <div class="borderHD"><span>our features</span></div>
          <div class="featureBox wow fadeInRight" data-wow-delay=".300ms" data-wow-duration="1s">
            <a href="#" class="featureThumb"><img src="../assets/images/feature1.jpg" alt=""></a>
            <div class="featureInfo">
              <a href="#" class="featureHD">Personal</a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust m Ipsum hasthe industry's st printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
              <a href="#" class="readMore">Read More</a>
            </div>
          </div>
          <div class="featureBox wow fadeInRight" data-wow-delay=".600ms" data-wow-duration="1s">
            <a href="#" class="featureThumb"><img src="../assets/images/feature2.jpg" alt=""></a>
            <div class="featureInfo">
              <a href="#" class="featureHD">Community</a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust m Ipsum hasthe industry's st printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
              <a href="#" class="readMore">Read More</a>
            </div>
          </div>
          <div class="featureBox wow fadeInRight" data-wow-delay=".900ms" data-wow-duration="1s">
            <a href="#" class="featureThumb"><img src="../assets/images/feature3.jpg" alt=""></a>
            <div class="featureInfo">
              <a href="#" class="featureHD">Hot topic</a>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting indust m Ipsum hasthe industry's st printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since </p>
              <a href="#" class="readMore">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="videoOuter">
  <div class="videoTExt">
    <a href="javascript:void(0)" class="videoPlay"><img src="../assets/images/video.png" alt=""></a><br>
    wanna how all<br>this works?
  </div>
</div>
<div class="stepOuter">
  <div class="step1">
    <div class="">
      <div class=" stepRow">
        <div class="container stepRow  wow fadeInLeft" data-wow-delay=".400ms" data-wow-duration="1s">
          <div class="col-sm-7">
            <div class="stepInfo">
              <span>Step1</span> <img src="../assets/images/a1.png" alt="">
              <div class="blueHD">State your opinions to <br> get counted </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and  text ever since </p>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="stepImg">
              <img src="../assets/images/s1.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class=" stepRow middleRow  wow fadeInRight" data-wow-delay=".500ms" data-wow-duration="1s">
        <div class="container stepRow">
          <div class="col-sm-7">
            <div class="stepInfo tar">
              <img src="../assets/images/a2.png" alt=""> <span>Step2 </span> 
              <div class="blueHD">Tune-in to new people<br> with similar opinions</div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and  text ever since </p>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="stepImg">
              <img src="../assets/images/s2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="stepRow last  wow fadeInLeft" data-wow-delay=".500ms" data-wow-duration="1s">
        <div class="container stepRow">
          <div class="col-sm-7">
            <div class="stepInfo">
              <span>Step3</span> <img src="../assets/images/a1.png" alt="">
              <div class="blueHD">Jump into great conversations<br>from the people you tuned </div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and  text ever since </p>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="stepImg">
              <img src="../assets/images/lptop.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>