<%#= StaticPage.try(:first).try(:privacy_policy).try(:html_safe) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/how_it_work">How It Works</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix innerWIdth tac ">
      <h1 class="bigHD">Privacy Policy</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <div class="clearfix sep"></div>
      <h1 class="bigHD">How do we protect your personal information?</h1>
      <p>Morbi fringilla tempor nulla in scelerisque. Nam diam diam, vehicula nec volutpat vitae, euismod sed felis. Donec non ultricies sapien. In in enim ac diam fermentum venenatis. Pellentesque volutpat lacinia nisi. Praesent cursus lorem neque, id hendrerit leo sagittis vitae. Nunc ut libero porttitor risus lobortis ornare dignissim id arcu. Sed sodales justo purus, eu dapibus erat pretium vitae. Proin lectus lectus, ultricies vitae placerat nec, vulputate nec eros. </p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <div class="blackColor font24">We do everything we can to keep your personal information secure.</div>
      <div class="clearfix sep"></div>
      <h1 class="bigHD">What information do we collect about you?</h1>
      <p>Morbi fringilla tempor nulla in scelerisque. Nam diam diam, vehicula nec volutpat vitae, euismod sed felis. Donec non ultricies sapien. In in enim ac diam fermentum venenatis. Pellentesque volutpat lacinia nisi. Praesent cursus lorem neque, id hendrerit leo sagittis vitae. Nunc ut libero porttitor risus lobortis ornare dignissim id arcu. Sed sodales justo purus, eu dapibus erat pretium vitae. Proin lectus lectus, ultricies vitae placerat nec, vulputate nec eros. </p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <div class="blackColor font24">The opinions you post on State are public, but we also collect data when you sign up and when you browse the site.</div>
      <div class="clearfix sep"></div>
      <h1 class="bigHD">  How will we use the information about you?</h1>
      <p>Morbi fringilla tempor nulla in scelerisque. Nam diam diam, vehicula nec volutpat vitae, euismod sed felis. Donec non ultricies sapien. In in enim ac diam fermentum venenatis. Pellentesque volutpat lacinia nisi. Praesent cursus lorem neque, id hendrerit leo sagittis vitae. Nunc ut libero porttitor risus lobortis ornare dignissim id arcu. Sed sodales justo purus, eu dapibus erat pretium vitae. Proin lectus lectus, ultricies vitae placerat nec, vulputate nec eros. </p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo,vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus. </p>
      <div class="clearfix sep"></div>
    </div>
  </div>
</div>
