<%#= StaticPage.try(:first).try(:privacy_policy).try(:html_safe) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/how_it_work">How It Works</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix innerWIdth tac ">      
        <%= StaticPage.first.privacy_policy.try(:html_safe)%>      
    </div>
  </div>
</div>
