<%#= StaticPage.try(:first).try(:terms_and_conditions).try(:html_safe) %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <div class="overLAy"></div>
    <div class="topNAv">
      <span class="blueColor leftMenuTab"><img src="/assets/images/tab.png" alt="" class=""> Categories</span>
      <div class="topRightNav">
        <span class="blueColor rightMenu"> Menu  <img src="/assets/images/down.png" alt="" class=""></span>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/how_it_work">How It Works</a></li>
          <li><a href="/contactus">Contact Us</a></li>
          <li><a href="/help_center">Help Center</a></li>
        </ul>
      </div>
    </div>
    <div class="clearfix innerWIdth tac ">
      <h1 class="bigHD">Terms of Use</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <h1 class="bigHD">Using Our Services</h1>
      <p>Morbi fringilla tempor nulla in scelerisque. Nam diam diam, vehicula nec volutpat vitae, euismod sed felis. Donec non ultricies sapien. In in enim ac diam fermentum venenatis. Pellentesque volutpat lacinia nisi. Praesent cursus lorem neque, id hendrerit leo sagittis vitae. Nunc ut libero porttitor risus lobortis ornare dignissim id arcu. Sed sodales justo purus, eu dapibus erat pretium vitae. Proin lectus lectus, ultricies vitae placerat nec, vulputate nec eros. </p>
      <p>Vivamus mattis elit vel nunc ultricies malesuada. Donec vel lacinia purus, ut aliquet tellus. Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel. Maecenas felis nibh, ultrices eget ipsum consequat, viverra auctor urna. In pharetra elementum nisi malesuada sagittis. Nunc aliquet volutpat odio, vitae varius nunc iaculis vel. Pellentesque gravida tempor diam, vel malesuada risus efficitur eu. Proin finibus dolor id eleifend tempus. </p>
      <div class="blackColor font24">This is the agreement we need to make with you, in order that you can sign up and start getting the benefit of State.</div>
      <div class="clearfix sep"></div>
      <h1 class="bigHD">Our Rules</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tincidunt, nisl nec condimentum sagittis, nunc risus lacinia tortor, eget finibus ligula felis id dui. Aliquam pellentesque odio leo, vel fringilla sapien posuere vel. Donec sapien mi, rhoncus rutrum pulvinar a, varius sed magna. Duis maximus, lacus at sagittis vulputate, turpis felis accumsan dolor, et auctor neque nisl ac risus.</p>
      <ul class="blt">
        <li>Vivamus mattis elit vel nunc ultricies malesuada.</li>
        <li>Donec vel lacinia purus, ut aliquet tellus.</li>
        <li>Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel.</li>
        <lI>Maecenas felis nibh, ultrices eget</lI>
        <li>Vivamus mattis elit vel nunc ultricies malesuada.</li>
        <li>Donec vel lacinia purus, ut aliquet tellus.</li>
        <li>Pellentesque tincidunt luctus nisi, at commodo eros sagittis quis. Sed maximus urna lorem, non efficitur ante tristique vel.</li>
        <li>Maecenas felis nibh, ultrices eget</li>
      </ul>
      <div class="blackColor font24">Everyone is welcome to use State but above are some of the things that are not ok. Also, please don’t break the law. 
        If you do any of these things, we may close your State account.
      </div>
      <div class="clearfix sep"></div>
    </div>
  </div>
</div>
