<%= content_for(:title, 'Internal Server Error') %>
<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>    
  <div class="rightContent">
    <%#=render 'layouts/topNav'%>
    <div class="overLAy"></div>
    <div class="clearfix innerWIdth page404 tac">
      <div class="clearfix whiteBox tac">
        <img src="/assets/images/500.jpg" alt="">
      </div>
    </div>
  </div>
</div>