/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 *= require_tree .
 *= require_self
 */
.commentBox {padding:0 0 0 35px; position:relative;}
.commentBox img {width:25px; position:absolute; left:0; top:0; border-radius:2px;}
.commentBox textarea {border:1px solid #d4d4d4; border-radius:4px; height:40px; -webkit-box-shadow:1px 1px 5px #ccc inset; -ms-box-shadow:1px 1px 5px #ccc inset; box-shadow:1px 1px 5px #ccc inset; width:100%; padding:5px 8px; -webkit-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box;}