.bootstrap-tagsinput {width: 100%;}
.label {line-height: 2 !important;}
.bootstrap-tagsinput input[type="text"]{display: none;}
.bootstrap-tagsinput{border: 0px; padding: 0px; box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.00) }
.skillsTag span {padding: 0px 7px;border: 0px solid #DAD8D7; font-size: 16px;}
.bootstrap-tagsinput .tag [data-role="remove"] {margin: 0; box-shadow: 0 0 0 0 rgba(0,0,0,0);}
.skillsTag .tag.label-info{ background: linear-gradient(to bottom, #FFFFFF 0%, #EDEDED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DAD8D7;border-radius: 4px;box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.08);
    color: #7E7E7E;display: inline-block;font-size: 12px;font-weight: 600;margin: 0 5px 8px 0;}
.like_image_post_liked{background-color: #0bb4d3;}
.dislike_image_post_disliked{background-color: #0bb4d3;}
.screen_name{min-width: 50px;}
.bootstrap-tagsinput .tag [data-role="remove"]:after{padding: 0; margin: 0;}    
/*.screen_name{min-width: 50px;}*/
.topNAv li.true a, .topNAv li a:hover{color:#0bb4d3; border-bottom:solid 3px #0bb4d3;}
li.cat.true a { color: #0BB4D3; }

.like_image_post_liked{background-color: #0bb4d3;}


.error { color: #FF0000; }
.error.img_error { margin-left: 22%;}

.error_file { color: #FF0000; font-size: 13px;}

.errorMSg.login {padding: 5px 15px 7px; text-align: center;}
.error {text-align: left; float: left; font-size: 13px;}


.popup-msg{	z-index: 99999;top: 25px; position: fixed; left:26%; }

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}
.scrollbars{ max-height:350px !important;}
.request-notification{margin-left: -247px !important;}
.request-notification::before{ margin-left: 51px !important;}