/* Medium Devices, Desktops */
@media only screen and (min-width : 1380px) {
.bTextInnrt {margin-top: 9%;}
.videoTExt {margin-top: 10%;}
}

@media only screen and (max-width : 1100px) {
.videoOuter {background-size:cover;}
.searhInput {width: 500px;}
.videoOuter {min-height: 500px;}
.stepInfo {margin: 0px 0;}
.whiteHeader .searhInput {width: 340px;}
.whiteHeader .topSearchRight {float: right; margin-right:5px; }
.topRight {margin: 20px 10px 0px 0px;}
.msgLIstingOuter {width: 270px;}
.msgBoxRight {width: 500px;}
.msgReplyBox .settingDropDown.open > a:after {    right: -4px;}

}
@media only screen and (max-width : 992px) {
.searhInput {width: 400px;}
.banner {min-height: 480px;}
.featureThumb img {width: 146px; height:auto;}
.featureInfo {margin-left: 160px;}
.videoOuter {min-height: 410px; }
.stepImg{margin-top:15%;}
.blueHD {font-size: 28px;}
.footerNAv a {padding: 0px 7px;}
.copy a {padding: 0px 10px;}
.leftNAv ul li a {font-size:13px;}
.leftNAv {width: 200px;}
.rightContent {margin-left: 200px;}
.leftNAv ul li a img {width: 16px;}
.stepNumber {left: -38px;}
.timeLineTwo .stepNumber {right: -39px;}
.footerLink a {padding: 10px 4px;}
header .searhInput {max-width: 211px;}
.searchDropDown {    position: fixed; right: 40px;left: 40px;top: 54px;}
.msgLIstingOuter {width: 90%;margin: auto;float: none;border: 1px solid #D8D6D6;}
.msgOuter .whiteBox {padding: 0px;height: auto;margin-top: 0px;padding-top: 20px;}
.msgLIstingOuter .scrollbars {height: 285px;}
.msgBoxRight {width: 90%;margin:20px  auto;float: none;}
.stepNumber {    margin-top: -93px;}

}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
.logo {margin:10px 0px; width:100%; text-align:center;}
.topSearchRight {margin: 0;}
.searhInput {width: 211px;}
.topSearchRight { width:311px; margin:auto; text-align:center; float: none;}
.topSearchRight .lightBlueBtn {margin: 10px auto;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle{background-color: #0BB4D3;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: #366973;}
.navbar-default .navbar-toggle .icon-bar {background-color: #FFF;}
.navbar-default .navbar-toggle {border:0px; margin-right:20px;}
.container-fluid > .navbar-collapse{margin-left:0px;}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {border-bottom:solid 1px #efefef}
.bTextInnrt {font-size: 24px;}
.banner {min-height: 330px;}
.aboutUsBox {margin-top: 15px;}
.padding30 {padding: 20px;}
.featureBoxOuter {padding: 40px 0px 0px 0px;}
.blueHD {font-size: 25px;}
.stepInfo.tar{text-align:left;}
.middleRow .col-sm-5 {float: none;;}
.copy a {font-size: 11px;}
.copy{text-align:center; width:100%; }
.footerNAv{text-align:center; width:100%; margin-top:10px;}
.leftNAv {left: -200px;}
.rightContent {margin-left: 0px;}
.leftMenuTab{display:block;}
.rightMenu {display:block;}
.topNAv {height: 45px;}
.topRightNav {position:relative; z-index: 9;}
.topRightNav ul {display:none; position: absolute;background-color: #FFF;right: 10px;top: 46px;width: 170px;text-align: left; box-shadow:0px 4px 3px 3px rgba(0,0,0,0.1); z-index:10}
.topNAv li a {height: 36px;line-height: 33px;border-bottom: 3px solid #FFF;display: block;}
.topRightNav ul li{ display:block;  border-bottom: solid 1px #ddd;}
.innerWIdth {padding: 0px 10px;}
.footerLink a {padding: 4px;}
.contactForm .pl10{padding-left:15px;}
.contactForm .pr10{padding-right:15px;}
.smk_accordion .accordion_in .acc_head {font-size: 16px;}
.line{display:none;}
.tlImage{width:100%; margin-bottom:20px;}
.timeLineINfo{width:100%;}
.timeLine > .clearfix{text-align:center; max-width:500px; margin:auto auto 40px auto; border-bottom: solid 1px #ddd;}
.timeLine > .clearfix br{display:none;}
.stepNumber{display:none;}
.timeLine .blueColor {font-size: 24px;line-height: 28px;}
.topRightHeader {margin-left: 0px;}
.whiteHeader  .topRight{width:100%; text-align:center; margin:10px 0 10px 0  ;}
.whiteHeader .searhInput {width: 212px; }
.whiteHeader  > *{float:none;}
.tab-content .inputTextW {width: 100%;}
.formOuterPost  .pr10 {padding-right:15px;}
.formOuterPost  .pl10 {padding-left:15px;}
.dateOuter{clear:both;}
.blueBkg span {width: 50px;height: 50px;margin-right: 10px;line-height: 30px;border: 2px solid #0BB4D3;padding: 5px; margin-left:5px;}
.blueBkg {font-size: 13px;}
.back {font-size: 12px;padding: 7px 12px;margin: 9px 5px 0 0;}
.mainCOntnt {margin-top: 0px; position:static}
.leftNAv {top: 0px; }
header{position:static !important;}
.overLAy {position: fixed;}
.topNAv {border-top: solid 1px #ddd;}
.catOuter .col-sm-3{width:50%; float:left;}
.catOuter .col-sm-3 img{width:100%;}
.postTitle {line-height: 26px;font-size: 20px;padding-left: 20px; margin-right: 76px;}
.cmntRow .addcomtntTA {width: 80%;}
.comntONcmnt .userInfo {-left: 25px !important;}
.cmntSec .addCmnt {width: 100%; margin:10px 0 10px 0 ;}
.cmntSec a.audioBtn {margin:10px 0 0 0;}
.userInfo .grayColor {margin-top: 0; float: none;  text-align:left;}
.userInfo .grayColor br{ display:none;}
.comntONcmnt .userInfo .grayColor {    margin-top: -35px;}
.userNAme {    margin-top: 0px;}
.userInfo .fr a {height: 26px; line-height: 24px;}
.tableOuterBtm td {padding: 6px 3px;}
.thumbImg {width: 130px;height: 130px; margin-top:20px;}
.grayHD {font-size: 18px;}
.blackHD {font-size: 16px;}
.grayHD  .blueBtn.fr.addBtn{overflow: hidden;height: 30px;width: 40px;  background-position: center center; margin:-2px -3px 0 0 }
.whiteBox .formOuterPost {clear:both;}
.ProfileTHumb {margin: -30px -10px 20px;}
.myWall .userTHumb {margin-left:20px; float:none;}
.myWall .back {margin:20px auto; float:none; width:180px;}
.addPostBtn {margin:15px;}
.replyRow {margin: 12px 0px 0px 0px;}
.replyRow .inputTextW {width: 83%;}
.converRight {float: none;}
.conversationTop {padding-left:25px;}
.conversationTop .fr{ float:none;}
.borderRight{border-bottom: solid 1px #D8D6D6; border-right:0px;}
.videoFeedImg {float: none;width: auto;}
.whiteHeader .topSearchRight {float: none;margin-right: 0px; width:100%; max-width:100%; clear:both;}
.settingDropDown .dropdown-menu{padding: 0px;} 
.searchDropDown { top: 164px}
.notification .dropdown-menu {width: 310px; margin-left: -96px; top: 33px;}
.notification .dropdown-menu:before{margin-left: -70px;}
.notification .dropdown-menuNoti {margin-left: -65px;width: 311px;}
.notification .dropdown-menuNoti::before {margin-left: -102px;}
.notification .userInfo .grayColor {margin-top: -20px;float: right;}
.searchBox .posRel {text-align: left;}
.connectionRow  .userInfo .grayColor {float:right;}
.meetingRoomTOp span {width: 80px; height:auto; border: 0px solid #FFF;margin: 10px 10px 10px 0px;}
.payment .userInfo .grayColor {float: right;width: 202px;text-align: right;}
.mt23Final{float: left;width: 70%;margin-top: 6px !important;}
 _::-moz-svg-foreign-content, :root  .selctFormBox {background:url("../images/arrowDown.png") no-repeat 98% center;}
.msgOuter .userInfo .grayColor {float: right;}
.msgBoxRight {width: 100%; margin:auto}
.msgLIstingOuter {width: 100%;}
.meetingRoomTOp {padding:0 5px}
.underLine {margin-right: 8px;}
.footerLink {position:static;}
.comntONcmnt .userInfo .grayColor {margin-top:0px;}
}


/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
.featureThumb{position:static;}
.featureInfo{margin:10px 0 0 0 ;}
.loginInner{width:90%; }
.catOuter .col-sm-3{width:100%; }
.searchDropDown { left:2px; right:2px;}
.connectionRow .userInfo .grayColor {float: none;margin: 10px 0 0 0 ;}
.connectionRow .userInfo .grayColor a{display:inline-block; margin:0px 2px;}
.connectionRow .font13.mt5 {margin-top: 20px;}
.meetingRoomTOp .fr.font12{float:none; clear:both; }  
.meetingRoomTOp .mtngTitle {max-width: 70%;}
.meetingRoomTOp .fr.font12 br{display:none ;}
.frNone{float:none; display:block;}
.meetingRoomTOp .fr.font12 *{float:left; margin:5px; clear:none;}
.payment .userInfo .grayColor {float: right;width: 100%;text-align: left;}
.grpOuter .col-sm-6{width:90%; margin:3% 5%;}
.blueBkg .back {font-size: 10px !important;padding: 2px 5px;}
.blueBkg .back  img{margin:0px !important;}
.blueBkg span img{max-height:100%;}
.blueBkg span {margin-right: 0px;}
.meetingRoomTOp span { margin-right:5px;}
.hotTopics a span, .hotTopics a:hover span {    line-height: 370px;}
.backBtn {right: 10px;}
.revealIdentity {right:auto;  left:7px; top:7px;}

/* 07-01-16*/
.contactUSRight .innerWIdth550  i{width:100%; float:none; margin:10px 0;}
.contactUSRight .innerWIdth550 i span {    width: 400px;}

}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}