<div class="mainCOntnt">
  <%=render "layouts/left_panel"%>
  <div class="rightContent">
    <%=render 'layouts/topNav'%>
    <div class="clearfix blueBkg meetingRoomTOp">
      <div class="innerWIdth550">
        <span><img src="/assets/images/gp.jpg" alt=""></span>
        <div class="mtngTitle font18 mt10Final">
          Your Ultimate Guide
          To Google+ Communities
          <div class="font14">professionals group</div>
        </div>
        <div class="fr font12">
          <a href="#" class="back"><img src="/assets/images/accept.png" alt=""> member</a><br>
          <div class="fr font14">  154 members</div>
        </div>
      </div>
    </div>
    <div class="clearfix innerWIdth550 tac ">
      <div class="clearfix whiteBox connectionRow borderTpBlue">
        <div class="clearfix cmntRow tal">
          <div class="clearfix userInfo posRel">
            <div class="clearfix  "></div>
            <a href="#" class="userImg"><img src="/assets/images/user1.jpg" alt=""></a>
            <a href="#" class="userNAme font14 mt23Final"> jognsmithStart a conversation with your group</a> <br>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox mt-1  mb10  ">
        <div class="tabOuter">
          <div id="tab-1" class="tab-content current">
            <div class="uploadBoxOuter font14">
              <input id="Photo" name="Photo" style="visibility: hidden; width: 1px; height: 1px" multiple="" type="file">
              <a href="#" onClick="document.getElementById('Photo').click(); return false"><img src="/assets/images/cemera.png" alt=""></a>
              <div class="grayBig mt20 bold"> Add an image to bring your post to life</div>
              Images that are at least 700 x 400 pixels look best.
            </div>
          </div>
          <div id="tab-2" class="tab-content">
            <div class="uploadBoxOuter font14">
              <img src="/assets/images/website.png" alt="">
              <div class="grayBig bold ">Add Your Website Links</div>
              <input type="text" placeholder="http://" class="inputTextW">
            </div>
          </div>
          <div id="tab-3" class="tab-content">
            <div class="uploadBoxOuter font14">
              <input id="Link" name="Link" style="visibility: hidden; width: 1px; height: 1px" multiple="" type="file">
              <a href="#" onClick="document.getElementById('Link').click(); return false"><img src="/assets/images/link.png" alt=""></a>
              <div class="grayBig mt0 bold">Upload your Document</div>
              Your file needs to be a docx, pdf, ppt, xls, jpg, gif, png<br>
              and no larger than 5MB.
            </div>
          </div>
          <div id="tab-4" class="tab-content">
            <div class="uploadBoxOuter font14">
              <img src="/assets/images/videoIcon.png" alt="">
              <div class="grayBig bold ">Add Your Video</div>
              <input type="text" placeholder="http://" class="inputTextW"><br>
              <div class="mt10">Paste a link from YouTube.</div>
            </div>
          </div>
          <ul class="tabs uploadIcon">
            <li class="tab-link current" data-tab="tab-1"><img src="/assets/images/c1.png" alt=""></li>
            <li class="tab-link" data-tab="tab-2"><img src="/assets/images/c2.png" alt=""></li>
            <li class="tab-link" data-tab="tab-3"><img src="/assets/images/c3.png" alt=""></li>
            <li class="tab-link" data-tab="tab-4"><img src="/assets/images/c4.png" alt=""></li>
          </ul>
        </div>
      </div>
      <div class="clearfix whiteBox mt-1">
        <div class="clearfix formOuterPost tal">
          <div class="col-sm-6 pr10">
            <label>Select Category</label>
            <div class="selctFormBox">
              <input value="BCA" readonly="" class="selectInput" type="text">
              <select class="select">
                <option>BCA</option>
                <option>CA</option>
              </select>
            </div>
          </div>
          <div class="col-sm-6 pl10">
            <label>Type Topic</label>
            <input placeholder="Topics" class="inputTextW small" type="text">
          </div>
          <div class="col-sm-12">
            <label class="font20">Write Your Headline</label>
            <input placeholder="" class="inputTextW small" type="text">
          </div>
          <div class="col-sm-12">
            <label class="">Write Something</label>
            <textarea class="inputTextW small" placeholder=""></textarea>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 mt10">
            <input value="Create Contest" class="blueBtn" type="submit">
            <a href="#" class="grayBtn">Cancel</a>  
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix formOuterPost tal padding10-0">
          <div class="col-sm-12 mb10">
            <div class="clearfix userInfo posRel">
              <div class="videoPost">
                <div class="editDlt  dropdown">
                  <a href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"> Edit </a> </lI>
                    <lI> <a href="#"> Delete</a> </lI>
                  </ul>
                </div>
                <div class="font12 bold blackColor">Absolutely incredible ad from Beats by Dre. AMAZING.</div>
                <a href="#" class="post"><img src="/assets/images/videoPost.png" alt=""></a>
                <div class="grayColor bold">The Game Before The Game: <a href="#" class="blueColor">Incredible</a></div>
              </div>
              <div class="clearfix borderBtmS"></div>
              <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a>
              <a href="#" class="userNAme"> Sarah</a> 
              <div class="editDlt  dropdown">
                <a href="javascript:void(0)" data-toggle="dropdown"> <img src="/assets/images/arrowDown.png" alt=""> </a>
                <ul class="dropdown-menu">
                  <li><a href="#"> Edit </a> </lI>
                  <lI> <a href="#"> Delete</a> </lI>
                </ul>
              </div>
              <br>
              <span class="font13">Events Coordinator, Designer</span>
              <div class="fr grayColor tar">2h<br>
                <a href="#"><img src="/assets/images/add.png" alt=""></a> <a href="#">Follow</a> 
              </div>
            </div>
            <div class="uniOuter">
              <div class="mt0 blackColor bold ">
                <p>Game of Thrones: over it</p>
                <p> I guess not. Right from the beginning of Monday’s election, polls showed that people trusted Justin Trudeau to take the reins as leader of the country. </p>
                <a href="javascript:void(0)" class="listen whiteBtn"><img src="/assets/images/audio38.png" alt=""> Listen this post </a> 
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentSec">
            <span class="grayColor font12">22,577 Likes &nbsp; &nbsp; 587 Comments &nbsp; &nbsp; 468 shares</span>
            <div class="cmntSec"> <a href="#"><img src="/assets/images/up.png" alt=""></a> <a href="#"><img src="/assets/images/down1.png" alt=""></a> <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a> <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small">
            </div>
          </div>
          <div class="commentShow">
            <div  class="clearfix commentSec cmntRow">
              <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/jack.jpg" alt=""></a> <a href="#" class="userNAme"> Jack</a> <br>
                <span class="font13"> Events Coordinator, Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt10 font13 blackColor bold">Everybody deserves the comfort living. </div>
                <div class="font13 bold blueColor mt5"><a href="#" class="blueColor" >Like </a>| <a href="javascript:void(0)" class="blueColor reply" > Reply</a></div>
                <div class="clearfix replyRow"> <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                  <input type="text" class="inputTextW small" placeholder="Add Your Comment">
                </div>
              </div>
            </div>
            <div  class="clearfix commentSec cmntRow borderNOne">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                <div class="addcomtntTA">
                  <textarea placeholder="Add Your Comment" class="inputTextW small "></textarea>
                  <input value="Save" class="blueBtn" type="submit">
                  <a href="javascript:void(0)" class="grayBtn Cancel">Cancel</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          In the conversation on Game of Thrones
          <div class="converRight"> <a href="#"><img src="/assets/images/con1.jpg" alt=""></a> &nbsp; <a href="#"><img src="/assets/images/con2.jpg" alt=""></a> &nbsp; <a href="#"><img src="/assets/images/con3.jpg" alt=""></a> &nbsp; <a class="blueColor">+11</a> </div>
        </div>
        <div class="clearfix formOuterPost tal padding10-0 ">
          <div class="col-sm-12 mb10">
            <div class="clearfix userInfo posRel">
              <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a> <a href="#" class="userNAme"> Sarah</a> <br>
              <span class="font13">Events Coordinator, Designer</span>
              <div class="fr grayColor tar">2h<br>
                <a href="#"><img src="/assets/images/add.png" alt=""></a> <a href="#">Follow</a> 
              </div>
            </div>
            <div class="uniOuter">
              <div class="mt0 blackColor bold ">
                <p>Game of Thrones: <a href="#" class="blueColor">over it</a></p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentSec">
            <span class="grayColor font12">22,577 Likes &nbsp; &nbsp; 587 Comments &nbsp; &nbsp; 468 shares</span>
            <div class="cmntSec"> <a href="#"><img src="/assets/images/up.png" alt=""></a> <a href="#"><img src="/assets/images/down1.png" alt=""></a> <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a> <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small">
            </div>
          </div>
          <div class="commentShow">
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a> <a href="#" class="userNAme"> You</a> <br>
                <span class="font13">Web Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor bold">What are you most excited about? <a href="#" class="blueColor">I know mine!</a></div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          <span class="bold grayColor">See anyone you know? <span class="font13 blackColor">Connect with them</span></span>
          <div class="fr"> <a href="#" class="grayColor">See More Connection <img src="/assets/images/rightArrow.jpg" alt=""></a> </div>
        </div>
        <div class="connectionOuter ">
          <div class="col-sm-6 borderRight">
            <a href="#"> <img src="/assets/images/user1.jpg" alt=""> <span>H. Peter Curran</span></a>
            <div class="dsignation">Appraiser, Art, Antiques,
              Deconstruction 
            </div>
            <a href="#" class="whiteBtn"> Follow </a> 
          </div>
          <div class="col-sm-6">
            <a href="#"> <img src="/assets/images/user2.jpg" alt=""> <span>Trip Spencer</span></a>
            <div class="dsignation">Director</div>
            <a href="#" class="whiteBtn"> Follow </a> 
          </div>
        </div>
      </div>
      <div class="clearfix whiteBox borderTop  mb10 pb0">
        <div class="clearfix conversationTop borderBtm">
          In the conversation on Game of Thrones
          <div class="converRight"> <a href="#"><img src="/assets/images/con1.jpg" alt=""></a> &nbsp; <a href="#"><img src="/assets/images/con2.jpg" alt=""></a> &nbsp; <a href="#"><img src="/assets/images/con3.jpg" alt=""></a> &nbsp; <a class="blueColor">+11</a> </div>
        </div>
        <div class="clearfix formOuterPost tal padding10-0 ">
          <div class="col-sm-12 mb10">
            <div class="clearfix userInfo posRel">
              <a href="#" class="userImg"><img src="/assets/images/profileImg.jpg" alt=""></a> <a href="#" class="userNAme"> Sarah</a> <br>
              <span class="font13">Events Coordinator, Designer</span>
              <div class="fr grayColor tar">2h<br>
                <a href="#"><img src="/assets/images/add.png" alt=""></a> <a href="#">Follow</a> 
              </div>
            </div>
            <div class="uniOuter">
              <div class="mt0 blackColor bold ">
                <p>FREE Whitepaper: Driving "Make in India" with Simulation-Driven Product Development <a href="#" class="blueColor">http://bit.ly/1jivyyN</a></p>
                <div class="clearfix videoFeed bold">
                  <a href="#" class="videoFeedImg"><img src="/assets/images/videoFeed.jpg" alt=""></a>
                  <div class="font18">Make in India</div>
                  ansys.comThe "Make in India" initiative aims to remove policy and infrastructure bottle­necks and catapult India into a global manufacturing hub.... 
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="commentSec">
            <span class="grayColor font12">22,577 Likes &nbsp; &nbsp; 587 Comments &nbsp; &nbsp; 468 shares</span>
            <div class="cmntSec"> <a href="#"><img src="/assets/images/up.png" alt=""></a> <a href="#"><img src="/assets/images/down1.png" alt=""></a> <a href="#" class="shareLInk"><img src="/assets/images/share.png" alt=""></a> <a href="#" class="shareArrow"><img src="/assets/images/arrowSmall.png" alt=""></a>
              <input type="button" value="Add Your Comment" class="addCmnt inputTextW small">
            </div>
          </div>
          <div class="commentShow">
            <div  class="clearfix commentSec cmntRow">
              <div class="clearfix userInfo posRel">
                <div class="bold mb10"><a href="#" class="grayColor font13 showCmnt">Show Previous Comments</a></div>
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a> <a href="#" class="userNAme"> You</a> <br>
                <span class="font13">Web Designer</span>
                <div class="fr grayColor tar">2 Oct</div>
                <div class="clearfix mt15 font13 blackColor bold">What are you most excited about? <a href="#" class="blueColor">I know mine!</a></div>
                <div class="font13 bold blueColor"><a href="#" class="blueColor" >Like </a></div>
              </div>
            </div>
            <div class="clearfix commentSec cmntRow borderNOne">
              <div class="clearfix userInfo posRel">
                <a href="#" class="userImg"><img src="/assets/images/smith.jpg" alt=""></a>
                <div class="addcomtntTA">
                  <textarea placeholder="Add Your Comment" class="inputTextW small "></textarea>
                  <input value="Save" class="blueBtn" type="submit">
                  <a href="javascript:void(0)" class="grayBtn Cancel">Cancel</a> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
