<div class="ajax-loading">
	  <span>
	    <p id="please_wait"><strong>Please wait..</strong></p>
	    <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true"></i></p>
	  </span>
	</div>
<footer class="clearfix">
<div class="copy">
	&copy; 2015 TGS.com    <a href="/terms_and_conditions">Terms of Use </a>   <a href="/privacy_policy">Privacy Policy</a>
</div>
<div class="footerNAv">
  <a href="/">Home</a>   |   <a href="/aboutus">About us </a>  |  <a href="/contactus"> Contact us</a>   |   <a href="#">Site map </a>   |    <a href="/help_center">Help center</a></div>
</footer>
