
<footer class="clearfix">
<div class="copy">
	&copy; 2015 TGS.com    <a href="/terms_and_conditions">Terms of Use </a>   <a href="/privacy_policy">Privacy Policy</a>
</div>
<div class="footerNAv">
  <a href="/">Home</a>   |   <a href="/aboutus">About us </a>  |  <a href="/contactus"> Contact us</a>   |   <a href="#">Site map </a>   |    <a href="/help">Help center</a></div>
</footer>
