<header class="clearfix">
  <div class="logo wow fadeIn" data-wow-delay="" data-wow-duration="1s">
    <a href="/"> <img src="/assets/images/logo.png" alt=""></a>
  </div>
  <div class="topSearchRight wow fadeIn" data-wow-delay="" data-wow-duration="1s">
    <div class="catLIstLink">
      <a href="/" class="catLIst"><img src="/assets/images/catDrop.png" alt=""></a>
    </div>
    <div class="formOuter">
      <%#=form_tag search_path do%>
        <%=text_field_tag "name", nil,:required => true, autocomplete: "off", placeholder:"You can also search by keyword, Topic, Peoples...",class: "searhInput header_search_input"%>
        <input type="submit" value="" class="searhSub"></input>
        <%#end%>
    </div>
    <a class="lightBlueBtn" href="/users/sign_up">Get Started</a>
  </div>
</header>