<div class="container popupmsg">
    <div class="row">
        <div class="col-sm-6 col-md-6 popup-msg">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-ok"></span> <strong>Success Message</strong>
                <hr class="message-inner-separator">
                <p class="success"><%=@success%></p>
            </div>
        </div>        
        <!--<div class="col-sm-6 col-md-6 popup-msg">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-record"></span> <strong>Warning Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Best check yo self, you're not looking too good.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 popup-msg">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-hand-right"></span> <strong>Danger Message</strong>
                <hr class="message-inner-separator">
                <p>
                    Change a few things up and try submitting again.</p>
            </div>
        </div> -->
    </div>
</div>
